<% @title = 'Welcome to Fuzzage' %>
<h1>Welcome! sd</h1>
<p>
    Click <%= link_to "here", { :controller => "main", :action => "register"}, {:id=> "register"} %> to register.
</p>
<p>
    Click <%= link_to "here", { :controller => "main", :action => "login_prepare"}, {:id=> "login"} %> to login.
</p>