<% @title = 'Fuzzage Dashboard' %>
<div class="post">
    <div class="title">
        <h1>Fuzzage Dashboard! </h1>
    </div>
    <div class="entry">
        <h3>Welcome back <%= session[:user].name %>.
        <% seasons = open_seasons %>
        <% if seasons.size > 0 %>
        There are seasons open that you can join:</h3>
                <ul>
                    <% seasons.each do |season| %>
                        <li>
                            <label><%=season.name%></label>
                            => click <%= link_to "here", { :controller => "register_season", :action => "register", :season_id=> season.id}, {:id=> "join-season-#{season.id}"} %> to join.
                        </li>
                    <% end %>
                </ul>
        <% end %>
    </div>
</div>

