<% @title = "My Season: #{@season.name}" %>
<div class="post">
  <div class="title">
    <h1>My Season: <%= @season.name %></h1>
  </div>
  <div class="entry">
    <h3>Welcome back <%= session[:user].name %>.</h3>
  </div>
  <div class="entry">
    <h3>My Fixtures</h3>
    <table>
      <tr>
        <th>Fixture</th>
      </tr>
      <% @fixtures.each do |fixture| %>
          <tr>
            <td>
              <b><%= "#{@team.name} Vs #{fixture.team.name}" %></b>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>